<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.editors">
      <editor
            class="edu.umich.soar.editor.editors.XMLEditor"
            contributorClass="org.eclipse.ui.texteditor.BasicTextEditorActionContributor"
            extensions="xxml"
            icon="icons/sample.gif"
            id="edu.umich.soar.editor.editors.XMLEditor"
            name="Sample XML Editor">
      </editor>
      <editor
            class="edu.umich.soar.editor.editors.SoarEditor"
            contributorClass="org.eclipse.ui.texteditor.BasicTextEditorActionContributor"
            extensions="soar"
            icon="icons/sample.gif"
            id="edu.umich.soar.editor.editors.SoarEditor"
            name="Soar Editor">
      </editor>
      <editor
            class="edu.umich.soar.editor.editors.datamap.DatamapEditor"
            contributorClass="org.eclipse.ui.texteditor.BasicTextEditorActionContributor"
            extensions="dm"
            icon="icons/sample.gif"
            id="edu.umich.soar.editor.editors.datamap.DatamapEditor"
            name="Datamap Editor">
      </editor>
	</extension>
		<extension point="org.eclipse.ui.decorators"> 
		<decorator 
   				id="edu.umich.soar.editor.decorators.SoarDecorator" 
    			label="Soar Rule Decorator" 
    			state="true" 
    			class="edu.umich.soar.editor.decorators.SoarDecorator" 
  				objectClass="org.eclipse.core.resources.IFile" 
    			adaptable="true"> 
    		<description> 
      			Decorator for Soar source files. 
    		</description>
    		<enablement>
            <and>
            	<objectClass name="org.eclipse.core.resources.IFile"/>
             <objectState
                   name="extension"
                   value="soar">
             </objectState>
            </and>
         </enablement>
  		</decorator>
  		<decorator 
   				id="edu.umich.soar.editor.decorators.DatamapDecorator" 
    			label="Soar Datamap Decorator" 
    			state="true" 
    			class="edu.umich.soar.editor.decorators.DatamapDecorator" 
  				objectClass="org.eclipse.core.resources.IFile" 
    			adaptable="true"> 
    		<description> 
      			Decorator for Soar Datamap files. 
    		</description>
    		<enablement>
            <and>
            	<objectClass name="org.eclipse.core.resources.IFile"/>
             <objectState
                   name="extension"
                   value="dm">
             </objectState>
            </and>
         </enablement>
  		</decorator> 
</extension>
</plugin>
