<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.editors">
      <editor
            class="edu.umich.soar.editor.editors.XMLEditor"
            contributorClass="org.eclipse.ui.texteditor.BasicTextEditorActionContributor"
            extensions="xxml"
            icon="icons/sample.gif"
            id="edu.umich.soar.editor.editors.XMLEditor"
            name="Sample XML Editor">
      </editor>
      <editor
            class="edu.umich.soar.editor.editors.SoarEditor"
            contributorClass="org.eclipse.ui.texteditor.BasicTextEditorActionContributor"
            extensions="soar"
            icon="icons/sample.gif"
            id="edu.umich.soar.editor.editors.SoarEditor"
            name="Soar Editor">
      </editor>
      <editor
            class="edu.umich.soar.editor.editors.datamap.DatamapEditor"
            contributorClass="org.eclipse.ui.texteditor.BasicTextEditorActionContributor"
            extensions="dm"
            icon="icons/sample.gif"
            id="edu.umich.soar.editor.editors.datamap.DatamapEditor"
            name="Datamap Editor">
      </editor>
   </extension>
</plugin>
